html {
    background: #202020;
    min-height: 100%;
}

body {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

input {
    font-family: liberation sans-serif;
}

section.main {
    height:95%;
    text-align: center;
}

section.main div.connecting,
section.main div.connected,
section.main div.disconnected {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 6em;
    color: #292929;
    top: 50%;
}

section.main div.disconnected span.smaller {
    font-size: 0.5em;
}

section.main div.lobby {
    position: absolute;
    height: 25%;
    width: 40%;
    text-align: left;
    left: 30%;
    top: 40%;
    transform: translate(0, -25%);
    color: #4C4C4C;
}

section.main div.lobby .name {
    font-size: 3em;
    width: 100%;
    border-bottom: 1px dashed #4C4C4C;
}

section.main div.lobby ul.players {
    list-style: none;
    font-size: 1.5em;
}


section.main div.lobby ul.players li{
    line-height: 45px;
}

section.main div.lobby ul.players li.current-player {
    color: #ffffff;
}

section.main div.lobby ul.players input {
    line-height: 45px;
    background: none;
    border: none;
    border-bottom: 1px solid #2D2D2D;
    font-size: 1em;
    color: #ffffff;
}

section.main div.lobby ul.players input:focus,
section.main div.lobby ul.players input:active
{
    border: none;
    border-bottom: 1px solid #2D2D2D;
    outline: 0;
}

footer {
    height: 5%;
    color: #404040;
    text-align: center;
    border-top:1px solid #282828;
    padding-top: 5px;
    box-sizing: border-box;
}

div.logo {
    position: absolute;
    font-size: 17em;
    transform: translateY(-15%);
    color: #303030;
}

div.logo span.hint {
    font-size: 10em;
    font-size: 0.3ex;
    vertical-align: super;
}

canvas#battlefield {
    position:absolute;
    height:600px;
    width:1200px;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    background: #000;
    z-index: 100;
    box-shadow: 0px 0px 8px 5px;
}

.material-icons {
    line-height: inherit !important;
    vertical-align: middle;
}
